# Ignore outputs and backups
outputs/
backup_imx6ul_sd_card/
*.img
*.xz

# Ignore kernel and u-boot build artifacts
*.o
*.ko
*.mod
*.mod.c
*.symvers
*.order

# Misc
*.log
*.swp

# Ignore full rootfs content
rootfs/rootfs/

# But keep everything under etc/
!rootfs/rootfs/etc/
!rootfs/rootfs/etc/**

# Ignore all backup images
backup_imx6ul_sd_card/

# Ignore outputs if needed (optional)
outputs/*.img
outputs/*.dtb
outputs/uImage
outputs/u-boot-with-spl.imx

*.img
*.tar.gz
*.xz
